<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Admin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Admin">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body class="flex h-screen bg-gray-100">
  <!-- Sidebar Menu -->
  <aside class="w-64 bg-gray-800 text-white h-full p-4 fixed">
    <h2 class="text-xl font-bold mb-4">Brigade Admin</h2>
    <div class="h-full flex flex-col justify-between" style="padding-bottom: 50px">
      <ul class="space-y-2">
        <li><a href='<%="#{admin_pawtifolio_index_path}"%>' class="block p-2 rounded hover:bg-gray-700">Pawtifolio</a></li>
        <li><a href="#" class="block p-2 rounded hover:bg-gray-700">About</a></li>
        <li><a href="#" class="block p-2 rounded hover:bg-gray-700">Services</a></li>
      </ul>
      <%= button_to "Logout", session_path, method: :delete, class: "block p-2 rounded hover:bg-gray-700 w-full", style: "text-align: left;" %>
    </div>
  </aside>

  <!-- Main Content -->
  <main class="ml-64 p-6 flex-1">
      <%= yield %>
  </main>
</body>
</html>
